*.prune.yaml
.DS_Store
Thumbs.db
*.bak
*.log
*.swp
*.swo
*.tmp
*~
.cache/
.direnv/
.env
.env.*
.idea/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.vscode/
__pycache__/
build/
dist/
venv/
.venv/
*.egg-info/
*.pyc
